body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

* {
  box-sizing: border-box;
}

nav {
  font-weight: 500;
  font-size: 1.5rem;
  list-style: 2rem;
  z-index: 20;
  position: relative;
  font-weight: bold;
}

.selectedNav {
  font-style: italic;
  pointer-events: none;
  text-decoration: none;
}

.name {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
  font-size: 75px;
}

.nameContainer {
  overflow: hidden;
  height: 200px;
}

.homeContent,
.content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: rgb(48, 48, 48);
  font-weight: bold;
}

.contentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: larger;
}

.page {
  padding: 48px;
}

.home,
.contact,
.projects {
  position: absolute;
  color: rgb(48, 48, 48);
  background-color: rgb(243, 199, 116);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.contact {
  background-color: rgb(223, 104, 88);
}

.projects {
  background-color: rgb(99, 230, 186);
}

.profilePhoto {
  width: 100%;
  height: auto;
}

.imgCircle { 
  position: relative;
  width: 400px; 
  height: 400px; 
  overflow: hidden; 
  border-radius: 50%; 
  margin-top: 125px;
}

.center {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-top: 50px;
}


.project {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projectContainer { 
  position: relative;
  width: 500px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 1rem;
  text-align: center;
  color: white;
}

.project1:hover {
  filter: blur(4px);
  color: white;
}


.projectLinks {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.projectLinks:hover {
  backdrop-filter: blur(4px);
  opacity: 1;
}

.projectLinks > a {
  background-color: rgb(48, 48, 48);
  outline: none;
  border: 1px solid white;
  border-radius: 0.25rem;
  color: white;
  margin: 1rem 9rem;
  padding: 0.25rem;
  font-weight: bold;
  text-decoration: none;
}

.projectLinks > a:hover {
  cursor: pointer;
  background-color: black;
}

.projectsContainter {
  border: 1px solid black;
  background-color: rgb(48, 48, 48);
  border-radius: 2rem;
  padding: 0.6rem;
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
}